.edit-profile .btn-edit {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: opacity 200ms ease-in-out;
    margin-left: auto;
    padding: 2rem 0 2rem 0;
    margin-bottom: 1rem;

    .text {
        display: block;
        color: $support-dark-2;
        max-width: 250px;
        text-align: right;
    }
    .img {
        @include userpic(45px);
    }
    @include desktop-supported {
        &:hover {
            opacity: 0.6;
        }
    }
    &:active {
        opacity: 0.8;
    }
}

.messages {
    max-width: 400px;
    width: calc(100% - 30px);
    display: none;
    align-items: center;
    column-gap: 2rem;
    padding: 2rem;
    position: fixed;
    top: 15px;
    right: 15px;
    margin-left: 15px;
    z-index: $zIndex-errorMsg;
    border-radius: $borderRadius-global;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.05),
    0 3px 14px 3px rgba(0,0,0,0.06),
    0 4px 5px 0 rgba(0,0,0,0.07);
    opacity: 0;
    transform: translate3D(30px, 0, 0);
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;

    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: $zIndex-errorMsgBar;
        border-radius: 0 0 $borderRadius-global $borderRadius-global;
        width: 0;
        opacity: 0;
        transition-duration: var(--timeBar-duration, initial), 500ms, 200ms;
        height: 8px;
        transition-property: width, border-radius, opacity;
        transition-timing-function: linear, ease-in-out;
    }
    .icon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: $support-light-1;
    }
    .text {
        color: rgb(66, 66, 66);
    }
    &.display {
        display: flex;
    }
    &.show {
        opacity: 1;
        transform: none;

        &::after {
            opacity: 1;
            border-radius: 0 0 $borderRadius-global 0;
        }
    }
    &.show-barWidth::after {
        width: 100%;
    }
    &.finally::after {
        opacity: 0;
    }
    &.error {
        background-color: $secondary-light-1;

        &::after {
            background-color: $secondary-dark-1;
        }
        .icon {
            font-size: 2.3rem;
            font-weight: initial;
            background-color: $secondary;
        }
    }
    &.success {
        background-color: $success-light-1;

        &::after {
            background-color: $success-dark-1;
        }
        .icon {
            font-size: 1.7rem;
            font-weight: 700;
            background-color: $success;
        }
    }
    @include breakpoint-sm {
        padding: 1.6rem;
        column-gap: 1.6rem;
        line-height: 1.35;
    }
}