.modal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zIndex-modal;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    @include breakpoint-sm {
        justify-content: flex-end;
        padding-bottom: 0;
    }

    &-dialog {
        max-width: 500px;
        width: 100%;
        padding: 3rem;
        background-color: $support-light-1;
        border-radius: $borderRadius-global;
        opacity: 0;
        transform: translate3D(0, -15px, 0);
        transition-property: transform, opacity;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        overflow-y: auto;

        @include breakpoint-sm {
            border-radius: $borderRadius-global $borderRadius-global 0 0;
            padding: 2rem;
            transform: translate3D(0, 15px, 0);
        }
    }
    &-header .title {
        @include font-size($h1);
        line-height: 1.2;
        font-weight: 500;
        color: $support-dark-1;
        margin-bottom: 2rem;
    }
    &-body.show {
        display: block;
    }
    &-footer {
        display: flex;
        column-gap: 1.5rem;

        .btn {
            flex: 1;
        }
        .btn-cancel {
            @include btn($support-dark-2, $support-light-1);
        }
        .btn-cancel[disabled] {
            display: none;
        }
        @include breakpoint-sm {
            flex-direction: column;
            row-gap: 1rem;
        }

    }
    &.display {
        display: flex;
    }
    &.show {
        opacity: 1;

        .modal-dialog {
            opacity: 1;
            transform: none;
        }
    }
    &.required .modal-dialog {
        transform: scale(1.05);
    }
}
.modal-scrollbar {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
}


// body profile
.modal-dialog.dialog-profile {
    .modal-footer {
        flex-wrap: wrap;
        margin-top: 3rem;

        .btn-confirm {
            @include btn($primary, $support-light-1);

            &[disabled] {
                background-color: $primary + 60%;
                cursor: default;
            }
        }
        .warning {
            flex: 1 100%;
            font-size: 1.1rem;
            margin-top: 1rem;
        }
        
        @include breakpoint-sm {
            margin-top: 2rem;

            .warning {
                font-size: 1.05rem;
                margin-top: 0.6rem;
            }
        }
    }
}
.profile {
    display: none;

    .profile-pic {
        display: block;
        cursor: pointer;
        position: relative;

        .label {
            display: block;
            margin-bottom: 1rem;
        }
        .img {
            @include userpic(200px);
            margin: 0 auto;

            transition: opacity 300ms ease-in-out;
            img {
                border-radius: 50%;
                transition: opacity 200ms ease-in-out;
            }
        }
        .icon {
            position: absolute;
            top: 20px;
            right: 20px;

            path {
                fill: $support-dark-2;
                transition: fill 300ms ease-in-out;
            }
        }
        @include desktop-supported {
            &:hover .img img {
                opacity: 0.5;
            }
            &:hover .icon path {
                fill: $support-dark-2 + 60%;
            }
        }
        &:active .img img {
            opacity: 0.7;
        }
        &:active .icon path {
            fill: $support-dark-2 + 30%;
        }
        &.transition {
            pointer-events: none;

            .img {
                opacity: 0;
            }
        }
    }
    .profile-pic-input {
        width: 0px;
        height: 0px;
        visibility: hidden;
        position: absolute;
        z-index: $zIndex-hidden;
    }
    .profile-pic-remove {
        display: none;
        padding: 1.2rem;
        padding-right: 0;
        font-size: $small;
        text-align: right;
        margin-left: auto;
        color: $support-dark-2;
        cursor: pointer;
        transition: color 200ms ease-in-out;

        @include desktop-supported {
            &:hover {
                color: $support-dark-2 + 60%;
            }
        }
        &:active {
            color: $support-dark-2 + 30%;
        }
        &.active {
            display: block;
        }
    }
    .profile-username {
        display: block;
        margin-top: 3rem;
        margin-bottom: 0.4rem;
    }
    .profile-username-input {
        @include input;
    }


    @include breakpoint-sm {
        .profile-pic .img {
            @include userpic(170px);
        }
    }
}

// body confirm delete
.modal-dialog.dialog-confirmation {
    max-width: 430px;

    .modal-footer {
        margin-top: 2rem;
        flex-direction: column;
        row-gap: 1rem;
        
        .btn-confirm {
            @include btn($secondary, $support-light-1);
            order: -1;
        }
        .warning {
            display: none;
        }
    }

    @include breakpoint-sm {
        padding: 2rem;

        .modal-header {
            border-bottom: 1px solid $support-dark-2 + 110%;
            margin-bottom: 2rem;
        }
    }
}
.confirmation {
    display: none;
}
