// Tipografia
$font-size-root: 62.5%;
$h1: 2.5rem;
$body: 1.6rem;
$body-sm: 1.4rem;
$small: 1.4rem;


// Cores
$primary-light-1: #c3c4ef;
$primary: #5457b6;

$secondary-light-1: #ffb8bb;
$secondary: #ed6468;
$secondary-dark-1: #f53239;

$support-light-1: #ffffff;
$support-light-2: #f5f6fa;
$support-light-3: #eaecf1;

$support-dark-1: #324152;
$support-dark-2: #67727e;

$success-light-1: #EBFBF5;
$success: #01CC88;
$success-dark-1: #35D39D;


// Projeto
$zIndex-modal: 10;
$zIndex-errorMsg: 20;
$zIndex-errorMsgBar: 25;
$zIndex-hidden: -1;

$borderRadius-global: 10px;